<html>
  <head>
    {% if title %}
    <title>{{ title }} - Norman T. Robosapien</title>
    {% else %}
    <title>Norman T. Robosapien</title>
    {% endif %}
  </head>
  <body>
  <h1>Hello</h1>
  <h2>I'm {{ state.summary }}!</h2>

  <table>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </table>
  </body>
</html>